services:
  db:
    image: mysql:8.3.0
    container_name: warehouse_db
    ports:
      - "3307:3306"
    environment:
      - MYSQL_ROOT_PASSWORD=admin
      - MYSQL_DATABASE=warehouse
      - MYSQL_CHARSET=utf8mb4
      - MYSQL_COLLATION=utf8mb4_unicode_ci
    volumes:
      - db-data:/var/lib/mysql
      - ./database:/opt/db
volumes:
  db-data:
